<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="service.name" source="spring.application.name"/>
    <!--
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="se.amprnet.tms" level="DEBUG"/>
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.web.socket" level="DEBUG"/>
    <logger name="liquibase" level="INFO"/>
</configuration>
